.cl_width{
    width:100%;
    margin-top: 1rem;
}
.sepradio{
    margin-left: 1rem;
}
.margintopbottom{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margintopbottom1{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.button_row{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.sepbutton{
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.topmargin{
    margin-top:1rem
}