<div class="create">
<mat-form-field>
    <input matInput placeholder="Search" floatLable="never" [(ngModel)]="key" (keyup)="handlefilter()" autocomplete="off">
</mat-form-field>
<button (click)="handlecreate()">Create new</button>
</div>
<div class="mat-elevation-z8">
<mat-table [dataSource]="dataSource"  matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="fname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fname}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="lname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lname}} </mat-cell>
    </ng-container> -->
  
    <!-- Weight Column -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Department </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]=[5,10,20] showFirstLastButtons></mat-paginator>
</div>